@media (min-width: 1100px) {
    .quizzes {
        flex-wrap: wrap;
        column-gap: 15px;
        flex-direction: row;
        width: 100%;
    }

    .quizz-list section {
        max-width: 1050px;
        width: 100%
    }

    .empty-quizz.quizz {
        width: 100%
    }

    .quizz-page section {
        max-width: 760px
    }
}