@media (min-width: 1100px) {
    .quizzes {
        flex-wrap: wrap;
        column-gap: 15px;
        flex-direction: row;
        width: 100%;
    }

    .quizz-list section {
        max-width: 1050px;
        width: 100%
    }

    .empty-quizz.quizz {
        width: 100%
    }

    .quizz-page section {
        max-width: 760px
    }
    
    .quizz-creation .inputs, .quizz-creation .question, .quizz-creation .level, .quizz-creation .question-header, .quizz-creation .level-header{
        width: 600px;
    }

    .quizz-creation input, .quizz-creation h3, .quizz-creation textarea{
        width: 564px;
    }

    .quizz-creation button {
        width: 369px;
        margin-top: 80px;
    }

    .quizz-creation h2 {
        margin-bottom: 40px;
    }
}