@media (min-width: 1100px) {
    .quizz-creation .inputs, .quizz-creation .question, .quizz-creation .level, .quizz-creation .question-header, .quizz-creation .level-header{
        width: 600px;
    }

    .quizz-creation input, .quizz-creation h3, .quizz-creation textarea{
        width: 564px;
    }

    .quizz-creation button {
        width: 369px;
        margin-top: 80px;
    }

    .quizz-creation h2 {
        margin-bottom: 40px;
    }
}