/* global configuration */

* {
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

/* scope configuration */

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 69px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

header h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
}

main {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizz {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    margin-bottom: 14px;
    position: relative;
}

.empty-quizz {
    border: 1px dashed #D5D5D5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.empty-quizz>p {
    width: 250px;
    height: 107px;
    margin: 0px 45px;
    margin-top: 7px;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #B9B9B9;
}

.empty-quizz>button {
    height: 40px;
    width: 151px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    background-color: #FAFAFA;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EC362D;
    margin-bottom: 33px;
}

.all-quizz h2 {
    width: 340px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-top: 21px;
    margin-bottom: 14px;
}

.quizzes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizzes .quizz img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

.quizzes .quizz h3 {
    position: absolute;
    bottom: 7px;
    left: 18px;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.gradient-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
}

.my-quizz-header {
    width: 340px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-top: 7px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-quizz-header ion-icon {
    color: #EC362D;
    font-size: 30px;
}

.quizz-page {
    padding-top: 69px;
}

.quizz-page section {
    width: 100%
}

.quizz-page-header {
    background-image: url('https://http.cat/404.jpg');
    height: 142px;
    color: white;
    font-size: 19px;
}

.quizz-page-header div {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizz-creation .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 256px;
    padding-top: 21px;
    padding-bottom: 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.quizz-creation input {
    width: 341px;
    height: 46px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: italic;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
    padding-left: 14px;
}

.quizz-creation button {
    width: 324px;
    height: 54px;
    margin-top: 29px;
    background: #EC362D;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF5F4;
}

.quizz-creation h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    margin-bottom: 29px;
    color: #000000;
}

.quizz-page-questions {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 24px 0
}

.quizz-page-questions article {
    background-color: white;
    width: 100%;
    padding: 18px;
}

.quizz-page-questions .question-title {
    background-color: #4444aa;
    width: 100%;
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
    color: white;
    font-weight: 700;
    font-size: 19px
}

.quizz-page-questions .answers {
    display: flex;
    flex-wrap: wrap;
    gap: 12px
}

.quizz-page-questions .answer {
    width: 163px;
}

.quizz-page img {
    width: 100%;
}

.quizz-page-questions .answer p {
    margin-top: 6px;
    font-size: 13px;
    font-weight: 700
}

.quizz-page-result {
    background-color: white;
    padding: 18px;
}

.quizz-page-result .rank-title {
    background-color: #4444aa;
    width: 100%;
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    color: white;
    font-weight: 700;
    font-size: 19px
}

.quizz-page-result .rank-description {
    margin-top: 9px;
    font-size: 17px;
    font-weight: 700;
    color: #484848
}

.quizz-creation .question-1{
    width: 100vw;
    height: 825px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    padding-bottom: 28px;
}

.quizz-creation h3 {
    width: 341px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 28px;
    margin-bottom: 14px;
}

.quizz-creation .wrong-answer-spacer {
    height: 18px;
    width: 100%;
}

/* features configuration */

.hide {
    display: none;
}